/* !ELEMENT */
input{
  color: yellow;
  background-color: green;
}
/* !ID */
#myLove{
  color: white;
  background-color: red;
}
/* !CLASS */
.biryani{
  color: white;
  background-color: hotpink;
}
.fav{
  text-align: center;
}
/* !GROUPING(,) */
h4,#late,.traffic{
  color: white;
  background-color: maroon;
}

/* !UNIVERSAL (*) */
*{
  border: 10px solid lime;
}

/* !PRIORITIES */
a{
  color: red;
}

#google{
  color: green;
}

.link{
  color: yellow;
}

*{
  color: orange;
}