/* ! DESCENDENT SELECTOR (SPACE) */
/* section p{
  color: white;
  background-color: red;
}

section h1{
  color: white;
  background-color: green;
}

div p{
  color: white;
  background-color: blue;
}

div h1{
  color: white;
  background-color: orangered;
}

section h2{
  color: white;
  background-color: black;
}

section div{
  color: white;
  background-color: purple;
} */

/* ! CHILD SELECTOR (>) */
/* section>p{
  color: white;
  background-color: red;
}

section>h1{
  color: white;
  background-color: green;
}

div>p{
  color: white;
  background-color: blue;
}

div>h1{
  color: white;
  background-color: orangered;
}

section>h2{
  color: white;
  background-color: black;
}

section>div{
  color: white;
  background-color: purple;
} */

/* !ADJACENT SIBLING SELECTOR(+) */
p+h1{
  color: white;
  background-color: brown;
}

h1+p{
  color: white;
  background-color: limegreen;
}

p+p{
  color: white;
  background-color: darkslateblue;
}

h1+div{
  color: white;
  background-color: black;
}

/* !GENERAL SIBLING SELECTOR(~) */
p~h1{
  color: white;
  background-color: brown;
}

h1~p{
  color: white;
  background-color: limegreen;
}

p~p{
  color: white;
  background-color: darkslateblue;
}

p~div{
  color: white;
  background-color: black;
}