* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  border: 10px solid black;
  height:100vh;

  background-color: black;
  background-color: rgb(0,0,0);
  background-color: rgba(0, 0, 0, 0.416);
  background-color: #ff0;

  background-image: url("https://preview.redd.it/anushka-is-more-remembered-in-tamil-nadu-for-her-roles-in-v0-xndd8lms91re1.jpeg?width=640&crop=smart&auto=webp&s=b2321f964058af59a79e2e10fbf7fcec89dd8dfc");
  background-image: url("./anushka.jpg");

  background-repeat: repeat;
  background-repeat: repeat-x;
  background-repeat: repeat-y;
  background-repeat: no-repeat;

  background-size: 350px 450px;
  background-size: 350px;
  background-size: cover;
  background-size: contain;

  background-size: 250px 350px;
  background-position: top left;
  background-position: top center;
  background-position: top right;
  background-position: right center;
  background-position: right bottom;
  background-position: bottom center;
  background-position: bottom left;
  background-position: center left;
  background-position: center center;
  background-position: top;
  background-position: right;
  background-position: bottom;
  background-position: left;
  background-position: center;

  font-size: 100px;

  background-attachment: scroll;
  background-attachment: fixed;

  background:lightblue url("./anushka.jpg") no-repeat center/300px 400px fixed;
}
