*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ! ABSOLUTE VS RELATIVE */
#parent{
  height: 400px;
  background-color: yellow;
}
#absolute{
  height: 200px;
  background-color: red;
  width: 600px;
}
#relative{
  height: 200px;
  background-color: blue;
  width: 90%;
}