*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#box{
  height: 200px;
  width: 200px;
  margin: 70px;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items:center;
  color: blue;
  border: 5px solid black;
  background:linear-gradient(orange,white,green);
  transition: all 1.5s 100ms ease-in-out;
}
#box:hover{
  transform: translate(500px,250px);
  transform: translate(-500px);
  transform: translateX(800px);
  transform: translateY(500px);

  transform: rotate(95deg);
  transform: rotate(-60deg);
  transform: rotateX(45deg);
  transform: rotateY(89deg);

  transform: scale(1.5,2);
  transform: scale(0.1);
  transform: scaleX(0.5);
  transform: scaleY(0.1);

  transform: skewX(30deg);
  transform: skewX(-30deg);
  transform: skewY(30deg);
  transform: skewY(-30deg);
  transform: skew(15deg,45deg);
  transform: skew(15deg);

  transform: translate(500px,200px) rotate(360deg) scale(2) skew(15deg,15deg);
  border-radius: 50%;
}